[2020-03-23 08:57] gaocegege opened #395 "[bug] requests.exceptions.HTTPError: 500 Server Error: Internal server error for url: http://localhost:3000/api/v1/modeldb/experiment-run/logHyperparameters"
Trying to run https://github.com/VertaAI/modeldb#up-and-running-in-5-minutes but got the error:

[code]
logs from backend

[code]

[2020-03-23 09:52] gaocegege commented on #395
Found the problem. Now we cannot use the same metrics/hyperparameters names for different trials.

It works after changed to this version:

[code]

[2020-03-23 10:22] gaocegege commented on #395
The request body of `http://localhost:3000/api/v1/modeldb/experiment-run/logHyperparameters` is

[code]

The id is the second run's id.

[2020-03-23 17:06] conradoverta commented on #395
This should be fixed in https://github.com/VertaAI/modeldb/pull/392. @ravishetye will update the images today so that you can confirm. Thanks for the ping and detailed description! It really helped track down what was going on.

[2020-03-23 17:24] ravishetye commented on #395
@gaocegege : as mentioned #392  fixes the issue. New images have been uploaded. Rerunning `docker-compose -f docker-compose-all.yaml up` should fix the issue on your setup.

[2020-03-24 02:22] gaocegege commented on #395
Thanks

`docker-compose -f docker-compose-all.yaml pull` solved the problem.

It will be better to have versioned images in the docker-compose file.

[2020-03-24 02:22] #395 closed, assigned to ravishetye, mvartakAtVerta

[2020-03-24 02:23] conradoverta commented on #395
Yes, we'll be moving to track versions on the images soon.

[2020-04-17 06:50] dagongji10 opened #531 "HTTPError: 404 Client Error: Not Found for url"
I have install docker-compose and start the server use `docker-compose -f docker-compose-all.yaml up`, and it run normally, I can find the ModelDB Web UI use `http://localhost:3000`.
![image](https://user-images.githubusercontent.com/15357846/79539982-f2db8800-80b9-11ea-9617-c5af09a59a81.png)
But when I run a model like :
[code]
it will get http-error:
![image](https://user-images.githubuserconten

[2020-04-17 17:02] ravishetye commented on #531
Hey @dagongji10 ,
I can not seem to reproduce the issue.
Few questions which will help me debug the issue
1. Does it happen for a brief time or do you always get this issue?
1. Does the docker logs have a line `Backend server started listening on 8085`?
1. Are there any errors in the docker-compose logs? IF you can share the docker-compose  log as well that will provide us more information

[2020-04-17 17:26] convoliution commented on #531
Hi @dagongji10,

Could you also let us know what version of the Python client you are using?
It is recommended to use the latest version (`0.14.2`), which can be installed via `pip` or `conda`.

[2020-04-20 03:16] dagongji10 commented on #531
@ravishetye  @convoliution
Thanks!
I have update my verta version from 0.13.18 to 0.14.2. And the problem is gone.
![image](https://user-images.githubusercontent.com/15357846/79710679-52bf7200-82f8-11ea-9ade-5eea1d0e1b23.png)
Thanks for your help!

[2020-04-20 15:52] convoliution commented on #531
Awesome, glad to hear it!
@dagongji10 Keep letting us know if you have any questions or suggestions as you're using ModelDB.

[2020-04-20 15:52] #531 closed, assigned to nobody

[2020-04-23 03:52] robbine opened #558 "Is there a way to identify relationships between all database tables ?"
Hi, I'm curious about modeldb backend design.
For example, table 'dateset_version' has three column constraints with 'path_dataset_version_info', 'query_dataset_version_info', 'raw_dataset_version_info' respectively.
Is there some specific reason for this design ?
Many thanks !

[2020-04-23 22:22] erichulburd opened #564 "modeldb-graphql image missing"
`docker-compose.all.yml` includes a `modeldb-graphql` service, but that image doesn't seem to exist for [vertaaiofficial](https://hub.docker.com/search?q=vertaaiofficial&type=image) - also is not referenced in `push_to_hub.sh`.

Should it be pulled from docker-compose.all.yml or does that image need to be pushed?

[2020-04-23 22:32] conradoverta commented on #564
@erichulburd you are correct, this was an oversight on our end. We're switching some queries to graphql but it's not required yet. We're fixing this ASAP. Thanks for flagging this!

[2020-04-23 22:40] erichulburd commented on #564
Also, since we're here, on the dashboard, the link to the docs appears broken: https://verta.readme.io/docs

[2020-04-23 23:24] conradoverta commented on #564
@erichulburd got it. I'll send a fix for that too! In the meantime, our docs have moved to https://docs.verta.ai/en/master/ for more flexibility.

[2020-04-24 00:23] conradoverta commented on #564
Fixed and waiting review. We'll issue a new build once this is in. Let me know if you find something else!

[2020-04-24 17:42] mvartakAtVerta commented on #558
Hi @robbine, thanks for the question! Our data versioning structure is currently in flux so this table structure is going to change in the coming weeks. At a high level, our DB is designed to handle different types of datasets, so that's the structure you see.

If you have any ideas/suggestions on DB design, please chime in here or on our Slack channel (http://bit.ly/modeldb-mlops).

[2020-04-28 02:17] ravishetye commented on #558
To add to what @mvartakAtVerta mentioned and to address the updated title, the foreign key constraints can be found spread across the files in the [liquibase folder ](https://github.com/VertaAI/modeldb/tree/ebc029a92e36bbe0c78ad975836aa8465673852f/backend/src/main/resources/liquibase)

[2020-04-29 03:53] robbine commented on #558
@ravishetye @mvartakAtVerta ,
The reason I asked this question is because I find there are some replicated columns across tables. And of course we can discuss them on the Slack channel , so I will close the issue.
Thanks for your replies !

[2020-04-29 03:53] #558 closed, assigned to ravishetye

[2020-04-29 04:27] conradoverta commented on #564
The changes have been merged and validated. Closing this, but let us know if you encounter any new issues.

[2020-04-29 04:27] #564 closed, assigned to conradoverta

[2020-05-18 04:27] loveunk opened #637 "run.log_model(model) and get ValueError: path is on mount 'c:', start on mount 'D:'"
Error happens during executing `run.log_model(model)`:

[code]

My OS is windows 10 and `modeldb` is deployed on this machine.

Looking forward to your help. Thanks.

[2020-05-18 08:31] loveunk opened #638 "the behavior of run.log_model()"
It looks like the function `log_model(model)` always tries to search the paths and build a huge zip file for uploading.

Is it possible to log model without any custom_modules? Thanks.

[2020-05-18 18:04] convoliution commented on #637
Hi @loveunk

The ModelDB Client currently has limited support for Windows; I'll check in with the rest of our team here, and get back to you when we have an update!

[2020-05-18 18:16] convoliution commented on #638
Thanks for the question, @loveunk

Much of the path-searching behavior can be skipped by passing an empty list as an argument:
[code]
This will greatly reduce the size of the uploaded `custom_modules`.

Let me know if there's anything else I can help with, here!

[2020-05-19 08:56] loveunk commented on #637
@convoliution no problem, thank you.

[2020-05-19 08:57] loveunk commented on #638
@convoliution Cool, thanks for your help.

[2020-05-19 08:57] #638 closed, assigned to convoliution

[2020-05-20 17:53] josepsmartinez opened #653 "Link to examples in README is broken"
The README at master branch point to a [link](https://docs.verta.ai/en/master/guides/examples.html) to detailed examples on how to use Verta client from Python. The link is broken.

[2020-05-20 17:57] convoliution commented on #653
Thanks for the notice! I'll get that fixed up.

[2020-05-20 18:02] convoliution commented on #653
While I'm fixing the links, you can find the examples we're referring to here:
https://docs.verta.ai/en/master/examples/examples.html

[2020-05-25 23:11] nhatsmrt opened #667 "Unable to delete a repository."
I was trying to implement some functionalities for the scala client, creating/retrieving a repository in the process of testing. However, for some reason I cannot delete it. When I try to delete it in my user interface, the following error message is returned:

{"error":"Internal server error","code":13,"message":"Internal server error","details":[{"@type":"type.googleapis.com/ai.verta.modeldb.ver

[2020-05-27 04:27] ravishetye commented on #667
@nhatsmrt : were you running this from source code or published images? If published images what modeldb repo commit are you on?

[2020-05-29 00:10] nhatsmrt commented on #667
@ravishetye Sorry for the delayed response. I'm pretty sure it's the published images, as I was unable to build images from source code (it froze when trying to build the webapp, but that's another carn of worms). If it's relevant, this is the output when I list my containers:
[code]

[2020-06-02 23:06] ravishetye commented on #667
@nhatsmrt A fix for this has been pushed. Can you verify it on the later master branch.

[2020-06-03 20:45] nhatsmrt commented on #667
I just tested. It seems to work now.

[2020-06-03 20:45] #667 closed, assigned to ravishetye, anandjakhaniya

[2020-06-14 05:37] cvsekhar opened #783 "Python Client"
How do we retrieve experiment metadata like tags and attrs, after it has been set using set_experiment. I am using the latest python client 0.14.6. Not able to read that info from the object returned by set_experiment.

[2020-06-15 15:43] convoliution commented on #653
Hey @jotapem,

This should be resolved as of #655, so I'll be closing this Issue.
Do let us know if you have further questions or comments, thanks!

[2020-06-15 15:43] #653 closed, assigned to convoliution

[2020-06-15 15:48] convoliution commented on #783
Hey @cvsekhar,

You're right—the Client doesn't have that functionality implemented yet, but it's on our radar.
I'll let you know once it's in!

For the time being, Project and Experiment tags and attributes _can_ be viewed on their respective pages in our Web App.

[2020-06-17 21:17] DarkBlaez opened #808 "[JustANit] Helm charts"
Just a nit. Your helm charts are a total mess and not constructed as they should be. There is an abundance of helm charts which show how to organize and develop these. I will construct your helm charts appropriatley and send a pull request. I am doing this for Allegro as well since there's are in about as bad shape as yours.

DB

[2020-06-17 22:19] conradoverta commented on #808
@DarkBlaez I really appreciate you taking the time to help improve the charts! We have a very specific style internally, so we had to adapt. Feel free to assign the PR to me when you have it.

[2020-06-23 02:02] yixu34 opened #848 "Installing via helm - backend unable to connect to postgres"
I've just pulled master and I'm on f8780ecace643dcba180d670d2f7dc5d68451a7f (this was after the helm chart split, which I noticed in some of the `2.x` tagged versions previously). I tried installing on our k8s cluster via helm, and the `backend` container of the backend service is giving an error:

[code]

Is there something that's not working out of the box with the helm charts? Or did I not conf

[2020-06-23 02:09] conradoverta commented on #848
Hi, @yixu34! Thanks for reaching out.

According to the logs, I can see that apparently `modeldb-postgresql` is not present as a service. Could you run `kubectl get svc --namespace <your namespace>` to check? Related to modeldb, you should see something like the below (this is from a fresh install I did this morning with the charts):
[code]
I imagine maybe something was off during the installation

[2020-06-23 02:13] conradoverta commented on #808
@DarkBlaez we have updated our charts to facilitate integration with one of our partners. Let me know if you have any feedback. Improvements are always welcome.

[2020-06-23 04:16] yixu34 commented on #848
Here are my services:
[code]

I think I might see what the problem is, then: it looks like `modeldb-postgresql` is a hardcoded value, by way of the `backend` values.yaml, on lines [67](https://github.com/VertaAI/modeldb/blob/f8780ecace643dcba180d670d2f7dc5d68451a7f/chart/modeldb/charts/backend/values.yaml#L67) and [81](https://github.com/VertaAI/modeldb/blob/f8780ecace643dcba180d670d2f7dc5d68451a7

[2020-06-23 04:30] yixu34 commented on #848
Ok, changing `--name modeldb` for the release did the trick. I've port forwarded the webapp to my `localhost:3000`, and I think the only remaining problem is that on the 'Repositories' page, I see a 504 error to http://localhost:3000/api/v1/graphql/query. My guess is that there's a typo [here](https://github.com/VertaAI/modeldb/blob/f8780ecace643dcba180d670d2f7dc5d68451a7f/chart/modeldb/charts/gra

[2020-06-23 07:39] conradoverta commented on #848
Nice catch. That does look like a typo and you are right that some of the names appear to be hardcoded (both in the DB reference and the graphql config). It should be based off the name of the release everywhere to avoid this situation. I'd definitely appreciate a PR with fixes!

[2020-06-23 18:43] yixu34 commented on #848
Ok cool, but let me make sure I have everything working first 😅  In addition to removing the double dash, I had to move the `{{- if .Values.env }}` on [line 36](https://github.com/VertaAI/modeldb/blob/f8780ecace643dcba180d670d2f7dc5d68451a7f/chart/modeldb/charts/graphql/templates/deployment.yaml#L36) to below line 41. I noticed that this was preventing the `MDB_ADDRESS` and `QUERY_PATH` environmen

[2020-06-23 19:17] conradoverta commented on #848
Ok, I think I was able to narrow down what happened.

First, the webapp logs were a bit misleading because `BACKEND_API_DOMAIN` was misconfigured. https://github.com/VertaAI/modeldb/pull/853 is fixing that. It doesn't affect correctness, but it does affect the logs in the OSS component.

After that, I noticed that the graphql service was serving on port 4000, but the whole setup assumed it was on

[2020-06-25 07:56] Atharex opened #870 "Minio support for ModelDB"
Can the S3 storage adapter support a Minio backend?

[2020-06-26 00:30] conradoverta commented on #870
Hi, @Atharex!

Currently the artifacts go directly to S3 via signed URLs. To my knowledge, Minio supports such calls, so it should work out of the box, but we have never tested against it. Are you getting some specific error? Maybe we can help figure out what's going on.

[2020-06-26 06:01] Atharex commented on #870
Hi, @conradoverta!

Probably there are not many changes needed for it. Could be I'm missing something in the configuration or there is no capability yet to specify a custom endpoint in the S3 configuration (like a local Minio installation).

I've got the S3 artifact store type in my config.yaml configured like this:

    artifactStoreConfig:
      artifactStoreType: S3
      S3:
        cloudAcces

[2020-06-26 16:23] conradoverta commented on #870
Oh, that is a fair point. I don't think we have any configuration for the custom endpoint. It should be easy to add a configuration and pass it around, but we don't have a Minio setup currently to test.

Would you be willing to contribute a PR with that new configuration? We'd be happy to point you to useful information for this. Otherwise, I need to discuss with the team and put this in one of ou

[2020-06-26 17:30] Atharex commented on #870
OK, I guess I could give it a try :)

Send me the information you have and I'll see what I can do.

[2020-06-26 18:27] ravishetye commented on #870
@Atharex : I believe modifying https://github.com/VertaAI/modeldb/blob/master/backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/S3Service.java#L34-L51 should get you unblocked. If it does n't, it will be helpful for me if you can share a few more lines from the stack trace.

[2020-06-27 21:41] Atharex commented on #870
@ravishetye @conradoverta

I've started from where you pointed me out and I got a working example up and running for my Minio installation. I was able to log datasets into Minio successfully with it. Now I also opened the pull request (#889) with my proposed changes.

The changes also support setting the config:
[code]

[2020-06-28 18:36] conradoverta commented on #870
Awesome! That was fast =) We'll take a look tomorrow.

[2020-07-01 12:26] Aid91 opened #922 "Model deployment using `run.deploy()` or `verta.deployment.DeployedModel` not working as expected"
Hi,

Is open-source version of the ModelDB supporting local model deployment (from logged models in `ExperimentRuns`), or this is only working on the `SaaS` and `Enterprise` solutions?

I am using open-source versions:

- ModelDB: 2.0.7
- ModelDB client: 0.14.6

In my use-case, logging everything in ModelDB works, only model deployment using `run.deploy(wait=False)` throws the following exception:

[2020-07-01 17:16] convoliution commented on #922
Hi @Aid91,

Thanks for the interest in ModelDB! Indeed, model deployment is currently only available in our enterprise offering, and not in our open-core platform.

We _are_ currently evaluating opening part of our deployment solution, however. I’d love to schedule some time to hear more about your use case.

[2020-07-02 01:05] ravishetye commented on #870
Thanks @Atharex for the request and the fix. Could you close the ticket if things are functional for you.

[2020-07-02 06:57] Atharex commented on #870
My pleasure @ravishetye :)

I would rather keep this ticket still open, as the support is not yet 100% (because of the still needed changes in the DB artifact storage path). You can show me where the changes should be made, but I cannot guarantee I will have time for another pull request in the near future :/

[2020-07-06 12:13] Aid91 commented on #922
@convoliution thanks for the quick answer!

I was trying out the possibilities of the ModelDB in our on-premise k8s cluster, and was interested if simple deployments are working, to quickly try out the REST API calls for instance. Something similar like you can find in [MLFlow serving](https://www.mlflow.org/docs/latest/quickstart.html#saving-and-serving-models).

It was also documented [here](htt

[2020-07-14 15:13] RaduStoicescu opened #993 "Error when setting up ModelDB via Docker Compose"
On Windows 10 when running `docker-compose -f docker-compose-all.yaml up` I get the following:

`modeldb-backend     | {"thread":"main","level":"DEBUG","loggerName":"ai.verta.modeldb.utils.ModelDBHibernateUtil","message":"ModelDBHibernateUtil getSessionFactory() retrying for DB connection after 2560 millisecond ","endOfBatch":false,"loggerFqcn":"org.apache.logging.log4j.spi.AbstractLogger","instan

[2020-07-14 18:40] ravishetye commented on #993
@RaduStoicescu  : modeldb backend is unable to connect to postgres , can you verify it  postgres container is up?

I am not sure how this is done on windows but this is a list of container which needs to be up for modeldb to work correctly.

[code]

If postgres had problems coming up it should also show up earlier in the logs you shared.

[2020-07-14 19:59] RaduStoicescu commented on #993
Looks like it has trouble having access to "/var/lib/postgresql/data/pgdata". I'm not sure how to create or how to set permissions for that directory inside the Docker

[code]

[2020-07-16 04:12] anandjakhaniya commented on #993
Hey @RaduStoicescu,
I am a contributor to modeldb backend and have docker-compose working in my setup on windows.
My set up is
[code]

this is my docker-compose-all.yaml file
[code]

where I have used shared `/c/Users` volume for config & artifact-store and for the Postgres data I am using other drive location like `/e/Users/data` .
I could not use `/c/Users` as mapped volume for the Postgres beca

[2020-07-16 18:03] RaduStoicescu commented on #993
I changed it like this and I have the same problem

I have Windows 10 Business, version 1903

I have found this on docker forums, it looks like a common problem: https://forums.docker.com/t/data-directory-var-lib-postgresql-data-pgdata-has-wrong-ownership/17963

[code]

This is the error:

[code]

[2020-07-28 01:37] ravishetye commented on #993
@RaduStoicescu : were you able to bring up Postgres? if so could you share the high-level steps so that we could add it to the modeldb documentation.
If you can point us to the steps which unblocked you at a high level, someone from our team could update the documents.
If you rather prefer to contribute a  PR you could add a section for `Windows setup` under https://github.com/VertaAI/modeldb/blob

[2020-07-31 10:25] robbine opened #1193 "I'm curious about you db design? Where can I find 'create table' sqls in the project ?"
At first I thought the 'hibernate-base-db-schema.sql' provides all sql commands, however this file turned out to be an exported sql.
Could you please show me a start point when system is booting and initializing all db tables ?
Many thanks !

[2020-07-31 18:50] ravishetye commented on #1193
@robbine : ModelDB uses liquibase for database changeset management.
As for a start point during system booting: that happens at this [code pointer](https://github.com/VertaAI/modeldb/blob/master/backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java#L453. )

Liquibase starts running tags starting from [chaneglog-1.0.xml](https://github.com/VertaAI/modeldb/blob/master/backend/src/m

[2020-08-03 05:03] robbine commented on #1193
Oh, I see there is a whole lot  of work to make this magic happen.
Thank you for your elaboration !

[2020-08-03 05:03] #1193 closed, assigned to ravishetye

[2020-08-18 21:29] ravishetye opened #1345 "ModelDB keeps DB connections open"
slack report : https://verta-community.slack.com/archives/CJEQSLPMM/p1597778769118400

[code]

[2020-09-04 09:00] vakker opened #1444 "Metric-param scatter plot"
It would be great to have a selected hyperparam on the x axis and the metric on the y, similarly to the current Metric Summary Chart (but instead of the Time Range it would be a hparam).

Tensorboard has this under the hparams section. Just a single hparam would be great as a minimum, but the grid to compare combinations of hparams would be amazing.

[2020-09-23 11:16] tatianguiqu opened #1539 "The prod 'verta-backend-0' becomes failed after a few hours"
The prod works well at first, but it always breaks down after a few hours. Then it t starts printing logs indefinitely:
`{"thread":"pool-3-thread-1","level":"WARN","loggerName":"ai.verta.modeldb.utils.ModelDBHibernateUtil","message":"ModelDBHibernateUtil checkDBConnection() got error ","thrown":{"commonElementCount":0
│ {"thread":"pool-4-thread-1","level":"DEBUG","loggerName":"ai.verta.modeldb.uti

[2020-09-23 11:21] tatianguiqu commented on #1539
Our configuration follows this repository.  Now, most of the time it's working well, but this error will occur in a few hours or in a day.

[2020-09-23 17:28] ravishetye commented on #1539
@tatianguiqu : it is trying to establish connection with postgres but can not establish one.
1. Could you double check that the DB is working fine when this happens.
2. Could you check postgres logs if there are any errors reported there.

[2020-09-24 10:48] Atharex commented on #870
@ravishetye I  got some time to take another look at this. Can someone from your side point out to me the code, which is creating the frontend links?

[2020-09-27 10:29] tatianguiqu commented on #1539
@ravishetye When I wanted to observe the log and database when bugs happened, it didn't make any mistakes for more than four days. I'm still waiting, but there was always an exception in one day before. It's confusing.

[2020-09-30 03:26] adhikari23 opened #1559 "modeldb-backend not starting"
docker-compose -f docker-compose-all.yaml up

here modeldb-backend is failing to create.
![image](https://user-images.githubusercontent.com/30843806/94639871-d98e6700-02fa-11eb-88a4-4bd51c160ec1.png)

[2020-09-30 06:01] anandjakhaniya commented on #1559
Hi @adhikari23 ,
From the attached logs, it looks like the modeldb-backend is unable to find the config file `/config/config.yaml` from the environment variable `VERTA_MODELDB_CONFIG`
[code]
that means your system volume `./backend/config` is not properly shared with the docker so can you check the shared volume `./backend/config` is correctly mapped with the docker or not and the docker can use i

[2020-09-30 07:38] anandjakhaniya commented on #1559
have you verified the following comment?

[code]

[2020-09-30 08:18] adhikari23 commented on #1559
I cloned your repo
And I also did the changes you asked me to do. It is showing the same error.

![image](https://user-images.githubusercontent.com/30843806/94660633-8aa8f780-0323-11eb-8695-467dc075e261.png)

[2020-09-30 08:49] anandjakhaniya commented on #1559
I am sorry for misleading you for `./backend/config` to `./backend` but please go with https://github.com/VertaAI/modeldb/blob/master/docker-compose-all.yaml file without any changes.

Could you verify your clone repo root folder is properly shared with docker or not? and docker can access `./backend/config`?

[2020-09-30 13:26] adhikari23 commented on #1559
I was using WSL for this whose root folder is not shared with docker.
So, I tried the same thing in Windows cmd.
Now, the backend looks fine, but the postgress is not up.
![image](https://user-images.githubusercontent.com/30843806/94691174-9958d400-034e-11eb-8b93-b0fec89be8c3.png)

[2020-10-05 10:49] adhikari23 opened #1564 "Default repo VertaAI/modeldb.git does not responds"
Cannot access the repo VertaAI/modeldb.git . I have used this code to have my metadata stored in the modelDB
repo = client.set_repository('Census Income Local')
commit = repo.get_commit(branch='master').new_branch("log-reg")

However in webpage of verta.ai, the following repo shows that 404 page not found.
![image](https://user-images.githubusercontent.com/30843806/95070809-4acc8080-0726-11eb-8233

[2020-10-05 10:50] adhikari23 commented on #1559
There was issue in the path of postgress volume. Resolved !

[2020-10-05 10:50] #1559 closed, assigned to nobody

[2020-10-05 16:10] adhikari23 opened #1567 "Can ModelDB run on Vertica?"
I want to use Vertica as a database for modelDB. Is it possible to do?

[2020-10-06 18:11] convoliution commented on #1564
Hi @adhikari23, could you let me know what version of git you are using (`git --version` in terminal)? Your client version would be helpful as well (`verta.__version__` in Python).

This functionality can be used to capture your code version metadata in your own git repository, yes! **Repo** will be the URL for a remote repository (usually GitHub) that you are using.

[2020-10-07 05:42] adhikari23 commented on #1564
Hi @convoliution
Git version : 2.27.0.windows.1
Client version : 0.15.4

Also I tried to use my own git repo.
![image](https://user-images.githubusercontent.com/30843806/95291709-bda43b80-088d-11eb-9edb-fe70e8cabf5f.png)

This is the error that I get.
Also I want to use **gerrit** repository in future...is it possible? If yes, how?

[2020-10-08 00:58] convoliution commented on #1564
Hello @adhikari23!

Regarding your git version: I see that you are using Windows. Our client development has been focused on macOS/Linux, so I will work on confirming this behavior in Windows. For now, the link indeed may not be valid.

As for using your own git repo, I should clarify that `client.set_repository()` is for a **ModelDB repository** (not a git repository), which can track metadata an

[2020-10-10 06:14] tatianguiqu commented on #1539
The prod 'verta-backend-0' kept running for 17 days without becoming failed. It is so confused. But there were 500 server errors in deploying the service today. After I restarted the prod, the problem was solved. The error log of prod 'verta-backend-0' is following:
`{"thread":"pool-4-thread-1","level":"WARN","loggerName":"ai.verta.modeldb.utils.ModelDBHibernateUtil","message":"ModelDBHibernateUti

[2020-10-10 08:36] tatianguiqu commented on #1539
The log  says 'sorry, too many clients already'. Is it caused by too many open hibernate sessions?

[2020-10-19 13:19] adhikari23 commented on #1564
Hi @convoliution
Thanks for your clarification regarding the above issue.
As you have mentioned :
This functionality can be used to capture your code version metadata in your own git repository, yes! Repo will be the URL for a remote repository (usually GitHub) that you are using.

Where should I configure my own repository so that the code version metadata can be captured in that repo instead of

[2020-10-19 16:42] convoliution commented on #1564
Hello, @adhikari23!

The Python file that you use to run our client (`.py` or `.ipynb`) has to be inside your repository, and your local repository must have a remote repository set using `git remote` for the URL to be captured..

[2020-10-20 16:33] adhikari23 opened #1590 "What gets stored in Database and artifact store?"
As it is mentioned in your documentation that
Database ModelDB Backend stores the information from the requests it receive into a Relational database.
Out of the box ModelDB is configured and verified to work against PostgreSQL.
Volumes : The relational database and the artifact store in backend need volumes attached to enable persistent storage.

What gets stored in Database and what exactly goes

[2020-10-21 23:25] ravishetye commented on #1590
Hey @adhikari23 , one rough way to think of things are things which ModelDB interprets are stored in the database and the things it does/should not are stored in the artifact store.

Most of the **metadata** related to Projects, Experiment, ExperimentRun, Dataset, DatasetVersion, Repository, Commits are stored in the Database. This metadata includes but is not limited to the name, description, cre

[2020-10-24 17:01] Atharex commented on #870
@ravishetye I see you guys are doing loads of refactoring on the codebase. I presume you are planning for a new release, where Minio support will already be completed by someone from your side?

[2020-10-26 20:22] conradoverta commented on #870
Hi, @Atharex! Could you clarify what you mean by links? I might be missing something here.

[2020-10-27 10:33] o0TT0o commented on #1559
The docker-compose config file 's :    https://github.com/VertaAI/modeldb/blob/master/backend/config/config.yaml

[2020-10-29 17:13] ravishetye commented on #1567
@adhikari23  modeldb images have drivers for postrges and mysql prebaked as dependencies. For vertica driver you should mention them as a dependency in modeldb pom.xml and build the images.
You also need to update the config at https://github.com/VertaAI/modeldb/blob/master/chart/modeldb/charts/backend/values.yaml#L67-L77 to reflect the right host and driver you need modeldb to use.
Since modeldb

[2020-11-02 11:48] Atharex commented on #870
Might have been misled... I thought the DB stores direct links to the artifacts, which the frontend uses for downloads.
I've tried a build directly from the master branch now to try and debug my problem.

I install ModelDB with this config:

[code]

Then I followed this example: https://github.com/VertaAI/modeldb/blob/master/client/workflows/demos/census-end-to-end-local-data-example.ipynb

This i

[2020-11-02 16:16] conradoverta commented on #870
Is `http://minio-storage.minio.svc.cluster.local:9000` the same as `[my-minio-url]`?

My current suspicion is that you have different DNS resolution for things running in the cluster than when you access from your other machine. What happens is that the webapp tries to fetch the URL `http://minio-storage.minio.svc.cluster.local:9000/...` since that's the URL that ModelDB is aware of.

Could you ve

[2020-11-02 16:45] Atharex commented on #870
No `[my-minio-url]` is not `http://minio-storage.minio.svc.cluster.local:9000`
That is the URL to the web UI of my minio instance, which is reachable outside of my kubernetes cluster.

Though that external URL should not be used by ModelDB at all, since all of it's traffic is happening inside of the kubernetes cluster, where it has access to the `http://minio-storage.minio.svc.cluster.local:9000`

[2020-11-02 20:00] conradoverta commented on #870
The problem here seems to be that ModelDB and your browser are seeing different hostnames for the same system. So when ModelDB asks minio for the link to the artifact, the link comes back with ModelDB's hostname perspective. When the backend sends to the webapp, the webapp tries to make the request and it fails because it's a different name.

Would you mind configuring ModelDB to use the same host

[2020-11-03 19:35] Atharex commented on #870
Aha, I see your point!

I thought that GET request I see in the traffic analyzer happens on the web app side, (the web app transfers the file from the artifact storage and then let's me download that cached copy), but it actually gives me a direct link to the storage from it's internally resolved DNS address
`http://minio-storage.minio.svc.cluster.local:9000`

where on the user side I want the ext

[2020-11-03 21:06] conradoverta commented on #870
We use the direct link because it's usually much faster (since their services are built for big downloads and uploads). I think adding an alternative base makes sense to me to simplify the process. Usually we handle this by adding the CNAME entries in the right place, but it might be a high barrier to use.

If we pointed you to the right places for the change, would you be willing to contribute a

[2020-11-04 07:39] Atharex commented on #870
Sure, I'd go for it! This feature would help me out nicely.

[2020-11-04 16:50] conradoverta commented on #870
Great!

@ad-47 @ravishetye could you share some pointers on how we could add a config field `AlternativeStoreURL` that would replace the base url for artifacts? The context is that the user browser and ModelDB need to see different hostnames for the minio endpoint.

[2020-11-04 19:30] ravishetye commented on #870
@Atharex Would setting the minio endpoint to `https://minio.my-own-domain.net` work and not require more code change?

[2020-11-06 09:38] Atharex commented on #870
Sadly no. There is a port in my service name and I cannot get DNS to resolve `https://minio.my-own-domain.net` to the internal address `http://minio-storage.minio.svc.cluster.local:9000`. The ingress controller also does not enable me to rewrite response URLs (only request URLs), so having this as an optional configuration step would be easiest to solve the problem.

[2020-11-08 18:44] conradoverta commented on #870
The challenge that Ravi correctly pointed out when I discussed this with him is that MDB would always use that alternative URL, even if the client was running inside the cluster. Would that be an issue for you?

[2020-11-26 13:54] samru-rai commented on #870
Would be cool if ModelDB team created an example for Minio so future users can just refer to the example

[2021-02-12 12:29] Mista-C opened #1961 "deleting an artifact in modelDB does not delete it from minio object store"
Hi,
so I am using version 2.0.8.1 and minio as artifact store, when I log artifacts everything works perfectly fine, but when I want to delete it just the link in modelDB is deleted but the artifact is kept in minio.
In modelDB the artifact is deleted and i cannot access it. In minio the artifact is kept and still takes up storage.
Is this behavior intended or should the artifact be deleted from m

[2021-03-02 18:03] jaiganeshp opened #2008 "Artifact Store Support for GCS"
### Background
The default configuration of ModelDB is working well with AWS Access and AWS Secret Access Keys but does not work with GCS HMAC Keys.

### Solution
Extend ArtifactStoreService Interface implementation for GCS using Google JDK. I am right now working on this implementation for the 2.0.8.1 release and will submit a merge request soon.

[2021-03-03 19:58] clsx524 opened #2012 "Mysql database no tables"
Hi, I am trying to use mysql as the database. I pulled the code and built it locally and have modeldb-backend image available. When I started the server, it complained about “missing table [artifact]” and the database is empty. Do you know why the tables are not created automatically?

My config file
[code]

[2021-03-03 20:25] coryverta commented on #2012
Hi @clsx524,

The schema will be autocreated when the system starts up for the first time, but requires the environment variable:
`LIQUIBASE_MIGRATION=true`

Are you starting the container manually or via docker-compose?

[2021-03-03 20:45] clsx524 commented on #2012
Thanks, after I added that variable, it works.
I am using my own docker compose.

[2021-03-03 20:45] #2012 closed, assigned to nobody

[2021-03-08 01:06] clsx524 opened #2023 "bug in artifact store"
It looks like a bug to me. This line should use `storeArtifact` for PUT request.

https://github.com/VertaAI/modeldb/blob/master/backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSService.java#L172

[2021-03-22 21:05] roivant-alan-menaged commented on #1564
I see that this bug report is a bit old, but I think I am encountering a related issue..

When I log a GitHub repo with `ExperimentRun.log_code()`, the dashboard link to the repo works. However, the links to the source code and the hash do not because the `.git` suffix is included in the base repo url. When I manually take out `.git` from within the url, or when I pass in the repo url explicitly w

[2021-03-22 21:18] convoliution commented on #1564
@roivant-alan-menaged This does seem potentially related indeed.

A couple questions to clarify:

1. Are you passing any arguments to `log_code()`?
2. What version of `git` are you using on your machine?

[2021-03-22 21:20] roivant-alan-menaged commented on #1564
I am not passing any arguments. (When I do pass `repo_url` it works as expected!)

[code]

I think maybe the `.git` suffix needs to be removed somewhere leading up to here:
https://github.com/VertaAI/modeldb/blob/51bbd74a27d49cb5f6f3a228e5168418a5f17215/webapp/client/src/shared/view/domain/CodeVersion/GitCodeVersionButton/GitCodeVersionButton.tsx#L60

[2021-03-22 21:33] convoliution commented on #1564
@roivant-alan-menaged Thank you for the info!

Just a couple more asks (I'm working mainly on reproducing this situation to see if there's other places this comes up):

1. What version of the Python client are you using? i.e. `import verta; print(verta.__version__)`
2. What version of the ModelDB frontend are you running? `modeldb-frontend` should be tagged `vertaaiofficial/modeldb-frontend:2.0.8.

[2021-03-23 13:31] roivant-alan-menaged commented on #1564
Verta version: 0.17.2
Frontend version: 2.0.8.2

[code]

[2021-03-23 13:38] convoliution commented on #1564
Thanks @roivant-alan-menaged! We'll get this patched as soon as we can.

[2021-04-17 06:09] jaiganeshp opened #2148 "Seeing High number of rollback transactions in Postgres Database"
Hello,

We are currently running the 2.0.8.2 version of ModelBD deployed locally and we are running into an issue where about 4% of transactions to the Postgres database are rolled back. We are monitoring our Postgres database using https://github.com/wrouesnel/postgres_exporter and tracking the metrics in Prometheus. I have attached a graph showing the ratio of the number of transactions rolled b

[2021-04-20 00:19] lsb opened #2183 "RegisteredModelVersion should implement download_model like ExperimentRun"
Right now, ExperimentRun can save a directory as a model zip file, and then `.download_model()` back into a directory, whereas a RegisteredModelVersion only implements `.get_model()`, which returns the raw pkzip file

[2021-04-20 00:21] convoliution commented on #2183
This is expected to be resolved by the end of the week!

[2021-04-24 02:45] #2183 closed, assigned to convoliution

[2021-05-04 08:52] NishkarshRaj opened #2248 "Cannot Deploy on AKS using Helm Chart"
Hi, I am trying to deploy ModelDB on Azure Kubernetes Services with K8s 1.19 but I am getting the following error:

[code]

Please help me out.

[2021-05-04 13:46] convoliution commented on #2248
Hi @NishkarshRaj,

It appears that your system may be using Helm v3, which does not have the `--name` flag. You might find success with
[code]

[This StackOverflow post](https://stackoverflow.com/questions/57961162/helm-install-unknown-flag-name) has some relevant details.

Since this appears to be a Helm issue rather than a ModelDB issue, I will be closing this unless we can be of further assista

[2021-05-04 13:50] convoliution commented on #2248
I've just noticed the PR you opened for this, thank you!

[2021-05-04 13:51] #2248 closed, assigned to convoliution

[2021-05-27 00:47] houqp opened #2350 "use logging module in client instead of print"
Verta python client should use the builtin [logging](https://docs.python.org/3/library/logging.html) module to handle various info/debug/error logging needs. This way downstream application can have full control over stdout. Using print for logging in a library is generally an anti-pattern in python.

[2021-05-27 01:37] convoliution commented on #2350
Thanks @houqp! It's on our radar to replace the `print`-based "logging" statements with proper logging invocation. I'll make sure to tag this Issue in the PR when it's in.

[2021-05-27 10:52] TaylorHere commented on #1539
I face the same case where my deploy version is 1.0.8.1
in my case, the backend restarts in days.

[2021-06-08 13:09] Atharex opened #2379 "Pyyaml vulnerability in verta client"
The verta client is using a version of pyyaml (< 5.4) which has a RCE vulnerability
https://github.com/VertaAI/modeldb/blob/master/client/verta/setup.py#L34

The SNYK security scanner rates it as a very critical problem (CVSS 9.8/10)
https://snyk.io/vuln/pip:pyyaml

The suggested fix is to upgrade pyyaml to at least version 5.4
https://snyk.io/vuln/SNYK-PYTHON-PYYAML-590151

[2021-06-08 18:15] convoliution commented on #2379
Thank you, @Atharex! I'll check that 5.4's [changes](https://github.com/yaml/pyyaml/blob/58d0cb7ee09954c67fabfbd714c5673b03e7a9e1/announcement.msg#L24-L31) don't break anything, and hopefully have this upgraded in one of next releases.

And a note for myself:

—https://github.com/yaml/pyyaml/blob/ee37f46/announcement.msg#L15-L16

So that may need to be the new upper bound

[2021-06-11 01:02] convoliution commented on #2379
As I was doing a follow-up investigation into this, I realized that the security advisory for `pyyaml<5.4` cites a vulnerability in `full_load()` and `FullLoader`. Fortunately for us and our users, the client diligently uses `safe_load()` everywhere, _which is incapable of the cautioned arbitrary code execution_.

In light of that, **I am considering this a non-critical issue**, but we _should sti

[2021-06-14 15:11] elgalu opened #2404 "Track Disk I/O Utilization"
In addition to GPU usage, does modeldb tacks Disk I/O Utilization?

[2021-06-14 15:56] convoliution commented on #2404
Hello @elgalu,

It looks like you may have intended to pose this question to the folks at Sacred! Since you've opened an Issue there (https://github.com/IDSIA/sacred/issues/827), would you mind if I closed this one?

[2021-06-14 17:21] elgalu commented on #2404
Hi! You mean that modeldb internally uses Sacred? I intentionally asked this question in both projects while comparing features between different experiment tracking products.

What about GPU tracking? for instance Wandb tracks, out of the box:
![image](https://user-images.githubusercontent.com/111569/121932906-b2bb7800-cd45-11eb-8b11-b0c46b7f91ed.png)

[2021-06-14 17:57] convoliution commented on #2404
Ah, I understand now. Your question mentioned Sacred specifically, so I hadn't realized you were asking about ModelDB.

Our platform today does not log system performance metrics during training, though capturing richer training metadata is on our roadmap.

[2021-06-14 18:04] elgalu commented on #2404
Ah, my bad, fixed now:)

[2021-06-16 23:25] #2008 closed, assigned to nobody

[2021-08-04 12:17] irtiza11 opened #2530 "requests.exceptions.HTTPError: 501 Server Error: Method ai.verta.modeldb.DatasetVersionService/getUrlForDatasetBlobVersioned is unimplemented."
I am trying to run dataset version scripts.
Got this error.

connection successfully established
got existing Dataset: Census Income Local
created new Dataset Version: 1 for Census Income Local
Traceback (most recent call last):
  File "/home/irtiza/catkin_ws/devel/lib/ubica_retinanet_detector/modeldb_dataset_versioning", line 15, in <module>
    exec(compile(fh.read(), python_script, 'exec'), con

[2021-08-04 12:22] irtiza11 commented on #2530
[code]

[2021-08-04 19:29] convoliution commented on #2530
Hello @Irtiza11,

This functionality (managed dataset versioning) is not currently available in our open-source platform. If you are interested in this feature, you can contact us for information about our SaaS offering!

https://www.verta.ai/contact/

[2021-08-06 03:56] zhuangkechen opened #2536 "please support pyyaml>5.4"
Current verta client need pyyaml>=5.1, <5.4, however many environment are using pyyaml >=5.4.1 now. So when can verta support pyyaml>5.4? Thanks.

[2021-08-06 16:36] convoliution commented on #2536
Hi @zhuangkechen, thank you for the heads-up!

We'll test and verify our compatibility with the newer `pyyaml` versions to see if we can increase the upper bound.

[2021-08-10 10:02] #2530 closed, assigned to nobody

[2021-08-16 15:24] KyleFrisbie opened #2560 "Cannot create_registered_model or get_or_create_registered_model"
Python version: Python 3.9.6
PIP version: pip 21.2.4
Environments attempted:

1. OpenShift 4.7
2. Docker 20.10.7

While following the documentation for [Registry Quickstart](https://docs.verta.ai/verta/registry/quickstart) I am unable to create a registered model:

Source Code for create_registered_model:
[code]

Result for create_registered_model:
[code]
Another attempt from [Examples](https://gi

[2021-08-16 16:06] convoliution commented on #2560
Hello @KyleFrisbie, thank you for the very thorough report!

For the time being, our model registry feature set has not been made available in our open-source platform. You can contact us for information about our SaaS offering, or let us know about the usecase you have in mind so we can factor it into our roadmap!

https://www.verta.ai/contact/

[2021-08-16 22:08] KyleFrisbie commented on #2560
Understood, thank you for the response. For what it's worth, it wasn't clear to me that this was the case based on the documentation. It might be helpful to others if this was mentioned in a couple places.

Perhaps in the following pages:
1. [ModelDB Documentation](https://github.com/VertaAI/modeldb#documentation) as this points as the full Verta documentation, rather than at the features which ar

[2021-08-16 22:12] convoliution commented on #2560
It is becoming apparent that this would be very useful information for us to surface!
I'll forward this feedback to the team for our docs—thanks again

[2021-08-16 22:22] #2560 closed, assigned to convoliution

[2021-09-01 12:44] elgalu opened #2585 "log_image support?"
Similar to https://www.tensorflow.org/api_docs/python/tf/summary/image or https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.log_image

[2021-09-01 16:20] convoliution commented on #2585
Hi @elgalu, thank you for the continued interest in ModelDB!

`ExperimentRun` has a `log_image()` method, which you can find documentation for [here](https://verta.readthedocs.io/en/master/_autogen/verta.tracking.entities.ExperimentRun.html?highlight=log_image#verta.tracking.entities.ExperimentRun.log_image).

It mainly supports PIL images:
[code]

as well as matplotlib plots and figures:
[code]

[2021-09-01 17:34] elgalu commented on #2585
Thanks!

[2021-09-01 17:34] #2585 closed, assigned to convoliution

[2021-09-27 07:13] LuBingtan opened #2656 "Got a 404 response when do create_registered_model"
## What happened
My python code:
[code]

And then I got this error
[code]

## Deployment environment
- docker version: 20.10.5
- modeldb frontend image: 2.0.8.2
- modeldb graphql image: 2.0.8.1
- modeldb proxy image: 2.0.8.1
- modeldb backend image: 2.0.8.1

[2021-09-27 15:25] convoliution commented on #2656
Hello @LuBingtan, thank you for your interest in our platform.

The model registry is not currently available in our open-source platform, which is why the client is returning these `404`s. If you'd like, please feel free to contact us for information about our SaaS offering—we'd also love to hear about the usecase you have in mind.

https://www.verta.ai/contact/

[2021-10-04 13:54] LuBingtan commented on #2656
I see. Thanks for the reply : )

[2021-10-04 13:54] #2656 closed, assigned to convoliution

[2021-11-18 15:33] Aid91 opened #2717 "Creating local dataset versions not working as expected"
Hi,

Currently I am using the open source version of the modelDB, with the latest docker images for all components:
* `modeldb-backend:2.0.8.1`
* `modeldb-proxy:2.0.8.1`
* `modeldb-frontend:2.0.8.1`
* `modeldb-graphql:2.0.8.1`
*  Verta python client versions `verta>=0.16.0` (I tried all versions newer than 0.16.0)

When I try the basic local dataset versioning, no metadata about the files/director

[2021-11-19 19:24] convoliution commented on #2717
Hi @Aid91, thank you for your continued interest in ModelDB!

`verta==0.16.0` did involve an overhaul in how dataset versions are captured, and our OSS platform may not fully support its operations. `<0.16.0` would be the best bet for core functionality, though a few methods (such as `get_latest_version()`) may also be absent from OSS.

In the meantime, I shall file a ticket for us at Verta to fol

[2021-11-19 20:28] #2536 closed, assigned to convoliution

[2022-01-07 10:34] Atharex commented on #2717
Hi @convoliution

I am seeing a similar error and am interested to know, if there will be any new OSS releases past 2.0.8.1?

I've tried building the server-side components from the master branch several times, but the builds never succeeded

[2022-01-07 12:46] Atharex commented on #2717
Also asking because the 2.0.8.1 release contains a vulnerable log4j version and would really need an update
https://github.com/VertaAI/modeldb/blob/v2.0.8.1/backend/pom.xml#L22

[2022-02-07 21:57] #2379 closed, assigned to convoliution

[2022-03-08 11:10] vineeth-shyam opened #2929 "verta doesn't support pyYAML 5.4 version"
Hi team
In one of our project we are using  verta==0.17.2 python library to connect to modelDB. In the last days we included Grype analysis in our pipeline to scan vulnerabilities, one such vulnerability was due an older version of pyYAML (https://github.com/advisories/GHSA-8q59-q68h-6hv4) whose version should be > 5.4.

However, I see that even the latest version of verta only supports pyYAML < 5

[2022-03-09 02:46] liuverta commented on #2929
Hi @vineeth-shyam, thank you for your interest in `verta`!

Our next release will support `pyyaml<6.0` (the PR https://github.com/VertaAI/modeldb/pull/2718 has already been merged). I can't provide an exact date at the moment, but we're working on having it published soon. Thank you for your patience—I'll let you when it's live.

[2022-04-04 10:17] vineeth-shyam commented on #2929
Thank you very much for your reply, @liuverta. I'm wondering do you guys have any tentative date for the new release?

[2022-04-04 17:55] liuverta commented on #2929
Hi @vineeth-shyam, we are looking to release a new version `0.20.0` within the next couple of weeks!

[2022-04-08 18:50] #2929 closed, assigned to liuverta

[2022-04-08 18:56] liuverta commented on #2929
@vineeth-shyam `verta==0.20.0` should be `pip`-installable within the next hour, with support for `PyYAML==5.4`. Please let me know if you encounter any issues there. Thanks again for your patience!

[2022-04-08 18:57] liuverta commented on #2536
This should be addressed in the just-released `verta==0.20.0`.

https://github.com/VertaAI/modeldb/issues/2929#issuecomment-1093243827

[2022-04-14 12:47] vineeth-shyam commented on #2929
Hi Liu,
Thank you very much for the update. I'm sorry I have to write you again, does the new release support click>=8.0?

Regards,
Vineeth

[2022-04-14 17:23] liuverta commented on #2929
@vineeth-shyam We don't yet support `click>=8.0`; as I recall, there are some incompatibilities we would have to resolve.

If that is of interest to you, would you be so kind as to file a new Issue for that? I'd also be curious as to what other libraries require `click>=8.0`, if you know (I'm assuming that it's potentially causing dependency conflicts). Thank you!

[2022-04-19 09:45] vineeth-shyam commented on #2929
Sure @liuverta I will create a new issue.

[2022-04-19 10:14] vineeth-shyam opened #3002 "Current verta==0.20.0 version doesn't support click>=8.0"
Hi @liuverta

In a project we are using verta(0.17.2) library for accessing modeldb and seldon-core(1.2.3) for deploying ML models on Kubernetes. Now due the vulnerabilities in PyYAML < 5.4 we planned to upgrade it. Thank you for the newer version of verta which supports PyYAML==5.4  (#2929). However when upgraded to newer version, seldon-core has a dependency conflict which only supports click >=

[2022-04-26 08:19] vineeth-shyam commented on #3002
Hi @liuverta

Any updates?

[2022-04-27 15:37] #3002 closed, assigned to nobody

[2022-04-27 15:45] liuverta commented on #3002
@vineeth-shyam I've just published `verta==0.20.2` which supports `click>=8.0,<9.0`.

Please let me know if this resolves your use case (and feel free to reopen this issue if it doesn't). Thank you, sincerely, for using our software and thank you for your patience!

[2022-07-08 10:07] Make42 opened #3056 "Documentation: What is ModelDB what is Verta Platform?"
I am a bit confused, which part in the https://docs.verta.ai/ documentation refer to the open-source ModelDB and which parts belong to the Verta AI platform (and is not open source). Could you clarify?

[2022-07-08 10:07] Make42 opened #3057 "Documentation: Model Serving?"
Does Model DB (not the Verta platform) provide model serving? I mean: Does it build a REST API for the models, similar to e.g. BentoML?

[2022-07-08 16:23] liuverta commented on #3057
Hello @Make42! ModelDB itself is for experiment tracking and artifact management. Model serving through REST would be a different component within our wider Verta platform.

[2022-07-08 16:28] liuverta commented on #3056
Hi @Make42, our product documentation at https://docs.verta.ai/ reflects the entirety of our enterprise Verta platform.

The most relevant piece with regards to our open-source ModelDB would probably be the [concepts page under Experiment Management](https://docs.verta.ai/verta/experiment-management/experiment-management_concepts).

[2022-07-09 08:32] #3057 closed, assigned to nobody

[2022-08-02 00:58] QipengZhou opened #3072 "docker compose run modeldb not found model registry"
Hi, I'm run model by [up and running in 5 minutes](https://github.com/VertaAI/modeldb#up-and-running-in-5-minutes). And all services are running, but I'm not found model registry in http://localhost:3000. What I did wrong?

[2022-08-08 20:44] jkwatson-verta commented on #3072
Do you have any errors in your docker logs?

I just verified that this works for me on my laptop, so it might be something specific to your environment.

[2022-08-09 02:27] QipengZhou commented on #3072
No, I'm not found some errors in my docker logs.
As the follow pic, I can't found model registry in the left menu like in docs [vulnerability-scanning](https://docs.verta.ai/verta/registry/guides/vulnerability-scanning).
![inSPP3ZVmX](https://user-images.githubusercontent.com/5410298/183549396-28a9a758-7555-4458-becf-82049cfcc19a.jpg)

[2022-08-09 03:32] QipengZhou commented on #3072
Reduplicate with https://github.com/VertaAI/modeldb/issues/2656

[2022-08-09 03:32] #3072 closed, assigned to nobody